<section class="store-section">
  <header class="store-section__header">
    Top Items
  </header>
  <main class="store-section__main">
    <ul class="top-items">
      {{#each model as |item|}}
        {{item-description$item-detail item=item}}
      {{/each}}
    </ul>
  </main>
</section>
<br>
<section class="store-section">
  <header class="store-section__header">
    Categories
  </header>
  <main class="store-section__main">
    <ul class="category-list">
      <li class="product-category">
        <article class="category-list__category">
          <header class="category-list__category-header">
            <span>Some Rando Category 1</span>
            {{!-- TODO: make the whole row the button --}}
            <button class="category-list__category-expand">
              {{fa-icon icon="angle-down"}}
            </button>
          </header>
          <main></main>
        </article>
      </li>
      <li class="product-category product-category--expanded">
        <article class="category-list__category">
          <header class="category-list__category-header">
            <span>Some Rando Category 2</span>
            <button class="category-list__category-expand">
              {{fa-icon icon="angle-up"}}
            </button>
          </header>
          <main>
            <ul class="category-item-list">
              {{!-- TODO: make the front-page item re-usable here as well --}}
              <li>
                <article class="shop-item">
                  <header class="shop-item__header">Some Rando Item #1</header>
                  <main class="shop-item__main">
                    <img src="https://via.placeholder.com/160" alt="some-rando-item-1">
                  </main>
                  <footer class="shop-item__footer">
                    <button>Add to cart</button>
                  </footer>
                </article>
              </li>
              <li>
                <article class="shop-item">
                  <header class="shop-item__header">Some Rando Item #2</header>
                  <main class="shop-item__main">
                    <img src="https://via.placeholder.com/160" alt="some-rando-item-2">
                  </main>
                  <footer class="shop-item__footer">
                    <button>Add to cart</button>
                  </footer>
                </article>
              </li>
              <li>
                <article class="shop-item">
                  <header class="shop-item__header">Some Rando Item #3</header>
                  <main class="shop-item__main">
                    <img src="https://via.placeholder.com/160" alt="some-rando-item-3">
                  </main>
                  <footer class="shop-item__footer">
                    <button>Add to cart</button>
                  </footer>
                </article>
              </li>
              <li>
                <article class="shop-item">
                  <header class="shop-item__header">Some Rando Item #4</header>
                  <main class="shop-item__main">
                    <img src="https://via.placeholder.com/160" alt="some-rando-item-4">
                  </main>
                  <footer class="shop-item__footer">
                    <button>Add to cart</button>
                  </footer>
                </article>
              </li>
            </ul>
          </main>
        </article>
      </li>
      <li class="product-category">
        <article class="category-list__category">
          <header class="category-list__category-header">
            <span>Some Rando Category 3</span>
            <button class="category-list__category-expand">
              {{fa-icon icon="angle-down"}}
            </button>
          </header>
          <main></main>
        </article>
      </li>
      <li class="product-category">
        <article class="category-list__category">
          <header class="category-list__category-header">
            <span>Some Rando Category 4</span>
            <button class="category-list__category-expand">
              {{fa-icon icon="angle-down"}}
            </button>
          </header>
          <main></main>
        </article>
      </li>
    </ul>
  </main>
</section>